{% extends 'autenticacao/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Recupere sua senha{% endblock%}

{% block content %}
    <div class="container">
        <div class="h3">Esqueceu sua senha?</div>
       

        <div class="row">

           
            <p class="mb-3 text-primary">Digite seu endereço de e-mail para redefinir a senha</p>

            <div class="col-xl-8 col-md-8"> 
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="mb-3 col-8">
                        <label for="{{form.email.id_for_label}}">{{ form.email.label}}</label>
                        {% render_field form.email class+='form-control' placeholder='exemplo@email.com' %}
                    </div>

                    <div>
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>

                </form>
            </div>

        </div>

    </div>
{% endblock %}