{% extends 'autenticacao/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Recupere sua senha{% endblock%}

{% block content %}
    <div class="container">
        
        <h2>Mudança de senha</h2>

        <div class="row">
            <div class="col">
                <p>Nos encaminharemos um e-mail contendo instruções para criação e recuperação de sua senha</p>
                <p>Se você não receber um e-mail em breve, por favor check se o endereço de e-mail foi informado corretamente.</p>
            </div>
        </div>

    </div>
{% endblock %}