<div id="usr-val"  hx-swap-oob="true">
    <label for="" style='color: {{ cor }};'>{{ error_username }}</label>
</div>


<div class="email_val" id="email-val" hx-swap-oob="true">
    <label for="" style='color: {{ cor }};'>{{ email_val }}</label>
</div>


<div id="error_pwd"  hx-swap-oob="true">
    <label for="" style='color: red;'>{{ error_pwd }}</label>
</div>


<div id="botao_submit" hx-swap-oob="true">
    <button class="w-100 btn btn-primary btn-lg" {{ st_submit }}>Criar Conta</button>
</div>